.login {
  padding: 10rem 0;
}

.login_body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot {
  color: $color-white;
  a {
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-white;
    }
  }

  input[type="checkbox"] {
    margin-right: 0.5rem;
  }
}
