.form {
  &__group {
    margin: 3rem 0;
    input:not([type="checkbox"]),
    select,
    textarea {
      border-radius: 10rem;
      border: none;
      padding: 1rem 2.5rem;
      background-color: rgba($color-white, 0.3);
      backdrop-filter: blur(10rem);
      width: 100%;
      color: $color-white;
      &::placeholder {
        color: $color-white;
      }
      &:focus {
        outline: none;
      }
    }
    textarea {
      border-radius: 2rem;
      resize: none;
    }
    input[type="number"] {
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        appearance: none;
        -moz-appearance: none;
      }
    }
  }
}
